<div class='filter-group'>
  <div class='filter'>
    <div class='form-group col-sm-2'>
      <%= label_tag :project_id %>
      <%= select_tag :project_id,
        options_for_select(Verboice::Project.collection),
        prompt: "--- Select project ---",
        input_html: {id: "project_id_field"},
        class: 'form-control input-sm' %>
    </div>

    <div class='form-group col-sm-2'>
      <%= label_tag :call_flow_id %>
      <%= select_tag :call_flow_id,
        options_for_select(Verboice::CallFlow.collection(@project_id)),
        prompt: "--- Select call flow ---",
        input_html: {id: "call_flow_id_field"},
        class: 'form-control input-sm' %>
    </div>

    <div class='form-group col-sm-2'>
      <%= label_tag :channel_id %>
      <%= select_tag :channel_id,
        options_for_select(Verboice::Channel.collection),
        prompt: "--- Select channel ---",
        input_html: {id: "channel_id_field"},
        class: 'form-control input-sm' %>
    </div>

    <div class='form-group col-sm-3'>
      <%= label_tag %>
      <div class="input-group">
        <input type='text' class="form-control" id='date_range' readonly />
        <div class="input-group-addon"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span></div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
        <div class="panel-body">
          <div class='action list-group'>
            <a href="#" id='this_week' class='list-group-item no-border'>This week</a>
            <a href="#" id='this_month' class='list-group-item no-border'>This month</a>
            <a href="#" id='previous_month' class='list-group-item no-border'>Previous month</a>
            <a href="#" id='custom_range' class='list-group-item no-border'>Custom range</a>
            <div class='action'>
              <input type="text" class='form-control calendar pull-left' id='fromDate' style='width:46%; margin:4px;' placeholder="From" readonly />
              <input type="text" class='form-control calendar pull-left' id='toDate' style='width:46%; margin:4px;' placeholder="To" readonly />
            </div>
          </div>
          <div class='p10' style='clear:both;'>
            <button class='btn btn-sm btn-primary daterange-confirm'>OK</button>
          </div>
        </div>
    </div>
  </div>
</div>
